body {
    background-color: whitesmoke;
    font-family: Monaco;
    margin-top: 50px;
}

#calc-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, lightgrey, grey);
    border: 7.5px solid steelblue;
    border-radius: 10px;
    box-shadow: 20px 20px 10px lightblue;
    margin: auto;
    padding: 15px;
    width: 505px; 
}

#button-container {
    display: flex;
}

button {
    background: linear-gradient(to right, seagreen, lightseagreen);
    border: 5px solid darkcyan;
    border-radius: 15px;
    color: white;
    font-family: Monaco;
    font-size: 34px;
    height: 100px;
    width: 100px;
    margin: 2.5px;
}

button:hover {
    background: darkcyan;
    color: white;
}

button[disabled] {
    background: linear-gradient(to right, lightcyan, darkgrey);
    color: grey;
}

[data-key="0"] {
    width: 204.5px;
}

.equals {
    width: 204.5px;
}

.input {
    background-color: darkslategrey;
    border-color: lightskyblue;
    border-radius: 15px 15px 0 0;
    border-style: solid;
    border-width: 5px 5px 1.25px 5px;
    color: whitesmoke;
    font-size: 34px;
    height: 40px;
    width: 500px;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    padding-left: 10px;
}

.second-input {
    background-color: darkslategrey;
    border-color: lightskyblue;
    border-style: solid;
    border-width: 1.25px 5px 1.25px 5px;
    color: darkgrey;
    font-size: 18px;
    height: 25px;
    width: 500px;
    padding-top: 2.5px;
    padding-left: 10px;
}

.result {
    display: flex;
    justify-content: flex-end;
    background-color: darkslategrey;
    border-color: lightskyblue;
    border-radius: 0 0 15px 15px;
    border-style: solid;
    border-width: 1.25px 5px 5px 5px;
    color: whitesmoke;
    font-size: 70px;
    height: 90px;
    width: 502.5px;
    margin-bottom: 5px;
    padding-top: 7.5px;
    padding-right: 7.5px;
}